// global
@import "global/_variables";
@import "global/_mixins";
@import "global/_scrollbar";
@import "global/_fonts";
@import "global/_normalize";
@import "global/_reboot";
@import "global/_container";
@import "global/_visually-hidden";

// blocks
@import "blocks/_section-text";
@import "blocks/_svg-defs";
@import "blocks/_btn";
@import "blocks/_header";
@import "blocks/_hero";
@import "blocks/_divider";
@import "blocks/_table";
@import "blocks/_table-container";
@import "blocks/_slider";
@import "blocks/_card";
@import "blocks/_game-card";
@import "blocks/_electric-card";
@import "blocks/_content-list";
@import "blocks/_review";
@import "blocks/_faq";
@import "blocks/_cta";
@import "blocks/_footer";
@import "blocks/_hero-description";
@import "blocks/_features";
@import "blocks/_info";
@import "blocks/_games";
@import "blocks/_bonus";
@import "blocks/_registration";
@import "blocks/_catalog";
@import "blocks/_sports-betting";
@import "blocks/_gamification";
@import "blocks/_payment";
@import "blocks/_support";
@import "blocks/_what";
@import "blocks/_about";
