.faq {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    &__inner {
        max-width: 800px;
        margin: 0 auto;
    }

    &__item {
        background: #1c0f05;
        border-radius: 20px;
        margin-bottom: 14px;
        overflow: hidden;
        box-shadow: 0 0 25px rgba(255, 154, 0, 0.35);
        transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 0 35px rgba(255, 154, 0, 0.5);
        }

        &--active {
            .faq__answer {
                max-height: 200px;
                opacity: 0.9;
                padding: 16px 24px 20px;
            }

            .faq__icon {
                transform: rotate(45deg);
            }
        }
    }

    &__question {
        padding: 20px 24px;
        cursor: pointer;
        font-weight: 900;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffcc99;
        font-size: 16px;
    }

    &__icon {
        color: #ff9a00;
        font-size: 20px;
        transition: 0.3s;
    }

    &__answer {
        max-height: 0;
        opacity: 0;
        padding: 0 24px;
        font-size: 14px;
        line-height: 1.6;
        transition: 0.35s;
        color: #ffd699;
    }
}
