.features {
    padding: 30px 0;

    &__title {
        font-size: 36px;
        font-weight: 900;
        color: #ff9a00;
        text-shadow: 0 0 20px rgba(255, 150, 0, 0.6);
        position: relative;
        display: inline-block;

        &::after {
            content: "";
            position: absolute;
            bottom: -16px;
            left: 0;
            width: 100px;
            height: 4px;
            border-radius: 2px;
            background: linear-gradient(
                90deg,
                transparent,
                #ff9a00,
                transparent
            );
            box-shadow: 0 0 20px rgba(255, 150, 0, 0.8);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include vp-767 {
            gap: 32px;
        }

        @include vp-480 {
            gap: 0;
        }
    }
}
