.games {
    padding: 30px 0;

    &__title {
        font-size: 36px;
        font-weight: 900;
        color: #ff9a00;
        text-shadow: 0 0 20px rgba(255, 150, 0, 0.6);
        position: relative;
        display: inline-block;
        margin: 0 0 50px 0;

        &::after {
            content: "";
            position: absolute;
            bottom: -16px;
            left: 0;
            width: 100px;
            height: 4px;
            border-radius: 2px;
            background: linear-gradient(
                90deg,
                transparent,
                #ff9a00,
                transparent
            );
            box-shadow: 0 0 20px rgba(255, 150, 0, 0.8);
        }
    }
}
