.hero-description {
    padding: 60px 0 0 0;

    @include vp-1023 {
        padding: 30px 0 0 0;
    }

    &__text {
        font-size: 16px;
        line-height: 1.6;
        opacity: 0.9;
    }
}
