.hero {
    position: relative;
    padding-top: calc(80px + 40px);
    padding-bottom: 80px;
    text-align: left;
    overflow: hidden;

    &__image {
        position: absolute;
        inset: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
        max-width: 800px;
        position: relative;
        z-index: 1;

        @include vp-767 {
            gap: 32px;
            max-width: 100%;
        }
    }

    &__title {
        font-size: 64px;
        font-weight: 900;
        line-height: 1.1;

        @include vp-1023 {
            font-size: 52px;
        }

        @include vp-767 {
            font-size: 44px;
        }

        @include vp-480 {
            font-size: 36px;
        }

        &-part-1,
        &-part-2 {
            display: block;
            background: linear-gradient(180deg, #ffd9da 0%, #ff5b4c 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &-part-2 {
            font-size: 36px;
            font-weight: 700;

            @include vp-1023 {
                font-size: 30px;
            }

            @include vp-767 {
                font-size: 26px;
            }

            @include vp-480 {
                font-size: 22px;
            }
        }
    }

    &__text {
        max-width: 560px;
        font-size: 18px;
        opacity: 0.9;
        line-height: 1.6;

        @include vp-1023 {
            font-size: 16px;
        }

        @include vp-767 {
            font-size: 15px;
            max-width: 100%;
        }

        @include vp-480 {
            font-size: 14px;
        }
    }

    &__btn {
        display: inline-block;
        width: auto;
        min-width: 200px;

        @include vp-767 {
            width: 100%;
            max-width: 300px;
        }

        @include vp-480 {
            height: 42px;
            font-size: 15px;
        }
    }

    @include vp-1023 {
        padding-top: calc(80px + 32px);
        padding-bottom: 60px;
    }

    @include vp-767 {
        padding-top: calc(60px + 30px);
        padding-bottom: 50px;
    }

    @include vp-480 {
        padding-top: calc(60px + 20px);
        padding-bottom: 40px;
    }
}
