.slider {
    position: relative;

    &__track {
        display: flex;
        gap: 20px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 40px 0 60px;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        max-width: 100%;

        &::-webkit-scrollbar {
            display: none;
        }

        @include vp-767 {
            padding: 28px 0 16px 0;
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;

        transform: translateY(-50%);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.7);
        color: #ff9a00;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 10;
        box-shadow: 0 0 30px rgba(255, 140, 0, 1);
        user-select: none;

        &--left {
            left: -8px;
        }

        &--right {
            right: -8px;
        }
    }
}

@include vp-767 {
    .slider {
        &__arrow {
            width: 36px;
            height: 36px;
            font-size: 20px;
        }
    }
}

@include vp-480 {
    .slider {
        &__arrow {
            width: 32px;
            height: 32px;
            font-size: 18px;

            &--left {
                left: -6px;
            }

            &--right {
                right: -6px;
            }
        }
    }
}
