.sports-betting {
    padding: 30px 0;

    &__title {
        font-size: 36px;
        font-weight: 900;
        color: #ff9a00;
        text-shadow: 0 0 20px rgba(255, 150, 0, 0.6);
        position: relative;
        display: inline-block;
        margin: 0 0 50px 0;

        &::after {
            content: "";
            position: absolute;
            bottom: -16px;
            left: 0;
            width: 150px;
            height: 4px;
            border-radius: 2px;
            background: linear-gradient(
                90deg,
                transparent,
                #ff9a00,
                transparent
            );
            box-shadow: 0 0 20px rgba(255, 150, 0, 0.8);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include vp-767 {
            gap: 32px;
        }
    }

    &__text {
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    &__table-title {
        font-size: 16px;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 900;
        color: #ff9a00;
        margin: 0 0 30px 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -16px;
            left: 0;
            width: 50px;
            height: 4px;
            border-radius: 2px;
            background: linear-gradient(
                90deg,
                transparent,
                #ff9a00,
                transparent
            );
            box-shadow: 0 0 20px rgba(255, 150, 0, 0.8);
        }
    }
}
